<div>
  <button class="btn btn-secondary mb-3" id="clear-form">Clear</button>
  <form id="create-cupcake-form">
    <div class="input-group mb-3">
      <span class="input-group-text"
        ><i class="fa-solid fa-cake-candles"></i></span
      ><input
        required
        name="flavor"
        type="text"
        class="form-control"
        placeholder="Flavor"
        aria-label="Flavor"
        aria-describedby="flavor"
        id="create-flavor"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-regular fa-image"></i></span
      ><input
        name="photo_url"
        type="text"
        class="form-control"
        placeholder="Photo URL"
        aria-label="Photo URL"
        aria-describedby="image"
        id="create-image"
      />
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="create-size"
        ><i class="fa-solid fa-expand"></i> </label
      ><select class="form-select" name="size" id="create-size">
        <option value="big">Big</option>
        <option selected value="regular">Regular</option>
        <option value="mini">Mini</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon4"
        ><i class="fa-solid fa-star"></i></span
      ><input
        value="0"
        type="radio"
        name="create-rating"
        class="btn-check"
        id="create-rating-0"
      />
      <label for="create-rating-0" class="btn btn-outline-light">0</label
      ><input
        value="1"
        type="radio"
        name="create-rating"
        class="btn-check"
        id="create-rating-1"
      />
      <label for="create-rating-1" class="btn btn-outline-light">1</label
      ><input
        value="2"
        type="radio"
        name="create-rating"
        class="btn-check"
        id="create-rating-2"
      />
      <label for="create-rating-2" class="btn btn-outline-light">2</label
      ><input
        value="3"
        type="radio"
        name="create-rating"
        class="btn-check"
        id="create-rating-3"
      />
      <label for="create-rating-3" class="btn btn-outline-light">3</label
      ><input
        value="4"
        type="radio"
        name="create-rating"
        class="btn-check"
        id="create-rating-4"
      />
      <label for="create-rating-4" class="btn btn-outline-light">4</label
      ><input
        value="5"
        type="radio"
        name="create-rating"
        class="btn-check"
        id="create-rating-5"
      />
      <label for="create-rating-5" class="btn btn-outline-light">5</label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-solid fa-pen-nib"></i></span>
      <textarea
        placeholder="Write a description..."
        class="form-control"
        aria-label="With textarea"
        name="description"
        id="create-description"
      ></textarea>
    </div>
  </form>
  <form id="create-ingredients-form">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon5"
        ><i class="fa-solid fa-bowl-rice"></i></span
      ><input
        name="ingredient"
        type="text"
        class="form-control"
        placeholder="Enter an ingredient"
        aria-label="Enter an ingredient"
        aria-describedby="basic-addon5"
        id="create-ingredients-input"
      />
    </div>
  </form>
</div>
<div class="row row-cols-auto m-1" id="create-ingredients-list"></div>
